BiblioUIEmprenteur/Connected Services/ServiceWcf/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceFournis" />
  <xs:element name="seConnecterEtudaint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nomUtilisateur" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="motPasse" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="seConnecterEtudaintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceFournis" minOccurs="0" name="seConnecterEtudaintResult" nillable="true" type="q1:CompteEtudiant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="seConnecterEnseignant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nomUtilisateur" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="motPasse" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="seConnecterEnseignantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceFournis" minOccurs="0" name="seConnecterEnseignantResult" nillable="true" type="q2:CompteEnseigant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="creeCompteEtudiant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceFournis" minOccurs="0" name="c" nillable="true" type="q3:CompteEtudiant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="creeCompteEtudiantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="creeCompteEtudiantResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="creeCompteEnseignant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceFournis" minOccurs="0" name="c" nillable="true" type="q4:CompteEnseigant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="creeCompteEnseignantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="creeCompteEnseignantResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifierCompteEtudiant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nomUtilisateur" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceFournis" minOccurs="0" name="compteNouveau" nillable="true" type="q5:CompteEtudiant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifierCompteEtudiantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modifierCompteEtudiantResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifierCompteEnseignant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nomUtilisateur" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiceFournis" minOccurs="0" name="compteNouveau" nillable="true" type="q6:CompteEnseigant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifierCompteEnseignantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modifierCompteEnseignantResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifierNomUtilisateur">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nomUtilisateur" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifierNomUtilisateurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="verifierNomUtilisateurResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifierNumeroCarte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroCarte" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifierNumeroCarteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="verifierNumeroCarteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifierMatrecule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matrecule" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifierMatreculeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="verifierMatreculeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="chercherOuvrague">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="motCle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="chercherOuvragueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServiceFournis" minOccurs="0" name="chercherOuvragueResult" nillable="true" type="q7:ArrayOfOuvrague" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reserverOuvrague">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nomUtilisateur" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codeOuvrague" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reserverOuvragueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reserverOuvragueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="attendreOuvrague">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nomUtilisateur" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codeOuvrague" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="attendreOuvragueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="attendreOuvragueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mesReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nomUtilisateur" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mesReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServiceFournis" minOccurs="0" name="mesReservationResult" nillable="true" type="q8:ArrayOfEmprinte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mesEmprintes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nomUtilisateur" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mesEmprintesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServiceFournis" minOccurs="0" name="mesEmprintesResult" nillable="true" type="q9:ArrayOfEmprinte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifierCodeOuvrague">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifierCodeOuvragueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="verifierCodeOuvragueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>