BiblioUIEmprenteur/Connected Services/ServiceWcf/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ServiceClientCompte_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_ServiceClientOvrague_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceFournis" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServiceClientCompte_seConnecterEtudaint_InputMessage">
    <wsdl:part name="parameters" element="tns:seConnecterEtudaint" />
  </wsdl:message>
  <wsdl:message name="ServiceClientCompte_seConnecterEtudaint_OutputMessage">
    <wsdl:part name="parameters" element="tns:seConnecterEtudaintResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceClientCompte_seConnecterEnseignant_InputMessage">
    <wsdl:part name="parameters" element="tns:seConnecterEnseignant" />
  </wsdl:message>
  <wsdl:message name="ServiceClientCompte_seConnecterEnseignant_OutputMessage">
    <wsdl:part name="parameters" element="tns:seConnecterEnseignantResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceClientCompte_creeCompteEtudiant_InputMessage">
    <wsdl:part name="parameters" element="tns:creeCompteEtudiant" />
  </wsdl:message>
  <wsdl:message name="ServiceClientCompte_creeCompteEtudiant_OutputMessage">
    <wsdl:part name="parameters" element="tns:creeCompteEtudiantResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceClientCompte_creeCompteEnseignant_InputMessage">
    <wsdl:part name="parameters" element="tns:creeCompteEnseignant" />
  </wsdl:message>
  <wsdl:message name="ServiceClientCompte_creeCompteEnseignant_OutputMessage">
    <wsdl:part name="parameters" element="tns:creeCompteEnseignantResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceClientCompte_modifierCompteEtudiant_InputMessage">
    <wsdl:part name="parameters" element="tns:modifierCompteEtudiant" />
  </wsdl:message>
  <wsdl:message name="ServiceClientCompte_modifierCompteEtudiant_OutputMessage">
    <wsdl:part name="parameters" element="tns:modifierCompteEtudiantResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceClientCompte_modifierCompteEnseignant_InputMessage">
    <wsdl:part name="parameters" element="tns:modifierCompteEnseignant" />
  </wsdl:message>
  <wsdl:message name="ServiceClientCompte_modifierCompteEnseignant_OutputMessage">
    <wsdl:part name="parameters" element="tns:modifierCompteEnseignantResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceClientCompte_verifierNomUtilisateur_InputMessage">
    <wsdl:part name="parameters" element="tns:verifierNomUtilisateur" />
  </wsdl:message>
  <wsdl:message name="ServiceClientCompte_verifierNomUtilisateur_OutputMessage">
    <wsdl:part name="parameters" element="tns:verifierNomUtilisateurResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceClientCompte_verifierNumeroCarte_InputMessage">
    <wsdl:part name="parameters" element="tns:verifierNumeroCarte" />
  </wsdl:message>
  <wsdl:message name="ServiceClientCompte_verifierNumeroCarte_OutputMessage">
    <wsdl:part name="parameters" element="tns:verifierNumeroCarteResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceClientCompte_verifierMatrecule_InputMessage">
    <wsdl:part name="parameters" element="tns:verifierMatrecule" />
  </wsdl:message>
  <wsdl:message name="ServiceClientCompte_verifierMatrecule_OutputMessage">
    <wsdl:part name="parameters" element="tns:verifierMatreculeResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceClientOvrague_chercherOuvrague_InputMessage">
    <wsdl:part name="parameters" element="tns:chercherOuvrague" />
  </wsdl:message>
  <wsdl:message name="ServiceClientOvrague_chercherOuvrague_OutputMessage">
    <wsdl:part name="parameters" element="tns:chercherOuvragueResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceClientOvrague_reserverOuvrague_InputMessage">
    <wsdl:part name="parameters" element="tns:reserverOuvrague" />
  </wsdl:message>
  <wsdl:message name="ServiceClientOvrague_reserverOuvrague_OutputMessage">
    <wsdl:part name="parameters" element="tns:reserverOuvragueResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceClientOvrague_attendreOuvrague_InputMessage">
    <wsdl:part name="parameters" element="tns:attendreOuvrague" />
  </wsdl:message>
  <wsdl:message name="ServiceClientOvrague_attendreOuvrague_OutputMessage">
    <wsdl:part name="parameters" element="tns:attendreOuvragueResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceClientOvrague_mesReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:mesReservation" />
  </wsdl:message>
  <wsdl:message name="ServiceClientOvrague_mesReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:mesReservationResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceClientOvrague_mesEmprintes_InputMessage">
    <wsdl:part name="parameters" element="tns:mesEmprintes" />
  </wsdl:message>
  <wsdl:message name="ServiceClientOvrague_mesEmprintes_OutputMessage">
    <wsdl:part name="parameters" element="tns:mesEmprintesResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceClientOvrague_verifierCodeOuvrague_InputMessage">
    <wsdl:part name="parameters" element="tns:verifierCodeOuvrague" />
  </wsdl:message>
  <wsdl:message name="ServiceClientOvrague_verifierCodeOuvrague_OutputMessage">
    <wsdl:part name="parameters" element="tns:verifierCodeOuvragueResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceClientCompte">
    <wsdl:operation name="seConnecterEtudaint">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceClientCompte/seConnecterEtudaint" message="tns:ServiceClientCompte_seConnecterEtudaint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceClientCompte/seConnecterEtudaintResponse" message="tns:ServiceClientCompte_seConnecterEtudaint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="seConnecterEnseignant">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceClientCompte/seConnecterEnseignant" message="tns:ServiceClientCompte_seConnecterEnseignant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceClientCompte/seConnecterEnseignantResponse" message="tns:ServiceClientCompte_seConnecterEnseignant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="creeCompteEtudiant">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceClientCompte/creeCompteEtudiant" message="tns:ServiceClientCompte_creeCompteEtudiant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceClientCompte/creeCompteEtudiantResponse" message="tns:ServiceClientCompte_creeCompteEtudiant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="creeCompteEnseignant">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceClientCompte/creeCompteEnseignant" message="tns:ServiceClientCompte_creeCompteEnseignant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceClientCompte/creeCompteEnseignantResponse" message="tns:ServiceClientCompte_creeCompteEnseignant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modifierCompteEtudiant">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceClientCompte/modifierCompteEtudiant" message="tns:ServiceClientCompte_modifierCompteEtudiant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceClientCompte/modifierCompteEtudiantResponse" message="tns:ServiceClientCompte_modifierCompteEtudiant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modifierCompteEnseignant">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceClientCompte/modifierCompteEnseignant" message="tns:ServiceClientCompte_modifierCompteEnseignant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceClientCompte/modifierCompteEnseignantResponse" message="tns:ServiceClientCompte_modifierCompteEnseignant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="verifierNomUtilisateur">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceClientCompte/verifierNomUtilisateur" message="tns:ServiceClientCompte_verifierNomUtilisateur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceClientCompte/verifierNomUtilisateurResponse" message="tns:ServiceClientCompte_verifierNomUtilisateur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="verifierNumeroCarte">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceClientCompte/verifierNumeroCarte" message="tns:ServiceClientCompte_verifierNumeroCarte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceClientCompte/verifierNumeroCarteResponse" message="tns:ServiceClientCompte_verifierNumeroCarte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="verifierMatrecule">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceClientCompte/verifierMatrecule" message="tns:ServiceClientCompte_verifierMatrecule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceClientCompte/verifierMatreculeResponse" message="tns:ServiceClientCompte_verifierMatrecule_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceClientOvrague">
    <wsdl:operation name="chercherOuvrague">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceClientOvrague/chercherOuvrague" message="tns:ServiceClientOvrague_chercherOuvrague_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceClientOvrague/chercherOuvragueResponse" message="tns:ServiceClientOvrague_chercherOuvrague_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="reserverOuvrague">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceClientOvrague/reserverOuvrague" message="tns:ServiceClientOvrague_reserverOuvrague_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceClientOvrague/reserverOuvragueResponse" message="tns:ServiceClientOvrague_reserverOuvrague_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="attendreOuvrague">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceClientOvrague/attendreOuvrague" message="tns:ServiceClientOvrague_attendreOuvrague_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceClientOvrague/attendreOuvragueResponse" message="tns:ServiceClientOvrague_attendreOuvrague_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mesReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceClientOvrague/mesReservation" message="tns:ServiceClientOvrague_mesReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceClientOvrague/mesReservationResponse" message="tns:ServiceClientOvrague_mesReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mesEmprintes">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceClientOvrague/mesEmprintes" message="tns:ServiceClientOvrague_mesEmprintes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceClientOvrague/mesEmprintesResponse" message="tns:ServiceClientOvrague_mesEmprintes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="verifierCodeOuvrague">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceClientOvrague/verifierCodeOuvrague" message="tns:ServiceClientOvrague_verifierCodeOuvrague_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceClientOvrague/verifierCodeOuvragueResponse" message="tns:ServiceClientOvrague_verifierCodeOuvrague_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ServiceClientCompte" type="tns:ServiceClientCompte">
    <wsp:PolicyReference URI="#NetTcpBinding_ServiceClientCompte_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="seConnecterEtudaint">
      <soap12:operation soapAction="http://tempuri.org/ServiceClientCompte/seConnecterEtudaint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="seConnecterEnseignant">
      <soap12:operation soapAction="http://tempuri.org/ServiceClientCompte/seConnecterEnseignant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creeCompteEtudiant">
      <soap12:operation soapAction="http://tempuri.org/ServiceClientCompte/creeCompteEtudiant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creeCompteEnseignant">
      <soap12:operation soapAction="http://tempuri.org/ServiceClientCompte/creeCompteEnseignant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifierCompteEtudiant">
      <soap12:operation soapAction="http://tempuri.org/ServiceClientCompte/modifierCompteEtudiant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifierCompteEnseignant">
      <soap12:operation soapAction="http://tempuri.org/ServiceClientCompte/modifierCompteEnseignant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifierNomUtilisateur">
      <soap12:operation soapAction="http://tempuri.org/ServiceClientCompte/verifierNomUtilisateur" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifierNumeroCarte">
      <soap12:operation soapAction="http://tempuri.org/ServiceClientCompte/verifierNumeroCarte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifierMatrecule">
      <soap12:operation soapAction="http://tempuri.org/ServiceClientCompte/verifierMatrecule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ServiceClientCompte" type="tns:ServiceClientCompte">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="seConnecterEtudaint">
      <soap:operation soapAction="http://tempuri.org/ServiceClientCompte/seConnecterEtudaint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="seConnecterEnseignant">
      <soap:operation soapAction="http://tempuri.org/ServiceClientCompte/seConnecterEnseignant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creeCompteEtudiant">
      <soap:operation soapAction="http://tempuri.org/ServiceClientCompte/creeCompteEtudiant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creeCompteEnseignant">
      <soap:operation soapAction="http://tempuri.org/ServiceClientCompte/creeCompteEnseignant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifierCompteEtudiant">
      <soap:operation soapAction="http://tempuri.org/ServiceClientCompte/modifierCompteEtudiant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifierCompteEnseignant">
      <soap:operation soapAction="http://tempuri.org/ServiceClientCompte/modifierCompteEnseignant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifierNomUtilisateur">
      <soap:operation soapAction="http://tempuri.org/ServiceClientCompte/verifierNomUtilisateur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifierNumeroCarte">
      <soap:operation soapAction="http://tempuri.org/ServiceClientCompte/verifierNumeroCarte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifierMatrecule">
      <soap:operation soapAction="http://tempuri.org/ServiceClientCompte/verifierMatrecule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ServiceClientOvrague" type="tns:ServiceClientOvrague">
    <wsp:PolicyReference URI="#NetTcpBinding_ServiceClientOvrague_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="chercherOuvrague">
      <soap12:operation soapAction="http://tempuri.org/ServiceClientOvrague/chercherOuvrague" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reserverOuvrague">
      <soap12:operation soapAction="http://tempuri.org/ServiceClientOvrague/reserverOuvrague" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attendreOuvrague">
      <soap12:operation soapAction="http://tempuri.org/ServiceClientOvrague/attendreOuvrague" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mesReservation">
      <soap12:operation soapAction="http://tempuri.org/ServiceClientOvrague/mesReservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mesEmprintes">
      <soap12:operation soapAction="http://tempuri.org/ServiceClientOvrague/mesEmprintes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifierCodeOuvrague">
      <soap12:operation soapAction="http://tempuri.org/ServiceClientOvrague/verifierCodeOuvrague" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ServiceClientOvrague" type="tns:ServiceClientOvrague">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="chercherOuvrague">
      <soap:operation soapAction="http://tempuri.org/ServiceClientOvrague/chercherOuvrague" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reserverOuvrague">
      <soap:operation soapAction="http://tempuri.org/ServiceClientOvrague/reserverOuvrague" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attendreOuvrague">
      <soap:operation soapAction="http://tempuri.org/ServiceClientOvrague/attendreOuvrague" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mesReservation">
      <soap:operation soapAction="http://tempuri.org/ServiceClientOvrague/mesReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mesEmprintes">
      <soap:operation soapAction="http://tempuri.org/ServiceClientOvrague/mesEmprintes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifierCodeOuvrague">
      <soap:operation soapAction="http://tempuri.org/ServiceClientOvrague/verifierCodeOuvrague" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="NetTcpBinding_ServiceClientCompte" binding="tns:NetTcpBinding_ServiceClientCompte">
      <soap12:address location="net.tcp://localhost:12345/Account" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:12345/Account</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-9BBSAIN\Mehdi</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ServiceClientCompte" binding="tns:BasicHttpBinding_ServiceClientCompte">
      <soap:address location="http://localhost:8000/Account" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ServiceClientOvrague" binding="tns:NetTcpBinding_ServiceClientOvrague">
      <soap12:address location="net.tcp://localhost:12345/Account" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:12345/Account</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-9BBSAIN\Mehdi</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ServiceClientOvrague" binding="tns:BasicHttpBinding_ServiceClientOvrague">
      <soap:address location="http://localhost:8000/Account" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>